<a href="https://colab.research.google.com/github/vasasunilkumar/ML-lab/blob/master/My_First_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("hello world")

hello world

My first program

In [0]:
for i in range(5):
  print(i)

0
1
2
3
4

find the area of the circle

In [13]:
pi=3.14
r=int(input("enter the radius of the circle:"))
area=pi*r*r
area=print("area of the circle is:",area)

enter the radius of the circle:7
area of the circle is: 153.86

arthametic operators

In [29]:
n1=int(input("enter n1 value:"))
n2=int(input("enter n2 vlaue:"))
sum=n1+n2
mul=n1*n2
div=n1/n2
sub=n1-n2
modulo=n1%n2
print("the sum of two numbers is:",sum)
print("the mulitplication of two numbers is:",mul)
print("the division of two numbers is:",div)
print("the subtraction of two numbers is:",sub)
print("the modulodivision of two numbers is:",modulo)

enter n1 value:30
enter n2 vlaue:20
the sum of two numbers is: 50
the mulitplication of two numbers is: 600
the division of two numbers is: 1.5
the subtraction of two numbers is: 10
the modulodivision of two numbers is: 10

example of if else satement

In [36]:
year=int(input("enter a year:"))
if year%4==0:
    print("Remainder is 0",year,"is leap year")
else:
    print("Remainder is not 0", year,"is not a leap year")

enter a year:2010
Remainder is not 0 2010 is not a leap year

if else  elif examples

In [42]:
n1=int(input("enter n1 vlaue"))
n2=int(input("enter n2 vlaue"))
if n1==10:
  print("enter number is equal to n1:")
elif n2==20:
  print("enter number is equal to n2:")
else:
  print("enter nubers are not equal to given numbers")

enter n1 vlaue30
enter n2 vlaue40
enter nubers are not equal to given numbers

for loop example

In [66]:
sunil=[10,20,30,50,60]
for x in sunil:
  print("The value of x=",x)
  y=x+30
  print("The value of y=",y)

The value of x= 10
The value of y= 40
The value of x= 20
The value of y= 50
The value of x= 30
The value of y= 60
The value of x= 50
The value of y= 80
The value of x= 60
The value of y= 90

In [71]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [87]:
sunil=['aditya','srikatnh','chinabau','Hemanth','Satya','RajaNaidu']
for x in sunil:
  print(x)

aditya
srikatnh
chinabau
Hemanth
Satya
RajaNaidu

while loop example

In [99]:
x=int(input("enter a number"))
while x<=20:
  print(x)
  x=x+1

enter a number1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20